<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oslomet.no.s309898_s309854">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantAktivitet"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VennAktivitet"
            android:parentActivityName=".VennAktivitet" />
        <activity
            android:name=".NyRestaurantAktivitet"
            android:parentActivityName=".RestaurantAktivitet" />
        <activity
            android:name=".NyVennAktivitet"
            android:parentActivityName=".VennAktivitet" />
        <activity
            android:name=".RedigerRestaurantAktivitet"
            android:parentActivityName=".RestaurantAktivitet" />
        <activity
            android:name=".RedigerVennAktivitet"
            android:parentActivityName=".VennAktivitet" />
        <activity android:name=".BestillingAktivitet" />
        <activity android:name=".InstillingAktivitet" />
        <activity android:name=".NyBestillingAktivitet"></activity>
    </application>

</manifest>